{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}

<div id="page" class="content container">

<div>
        <p>大家好，我是邹飞，攻城狮一枚。</p>

        <p>混迹魔都IT圈，从Helpdesk->网工->运维，现在从事自动化运维相关开发工作，主要关注三个Topic：部署、监控、Docker</p>

    </div>
    <hr>
    <div>
        <div>
            Github：<a target="_blank" href="https://github.com/vinsonzou">@vinsonzou</a><br>
            Email：<a target="_blank" href="mailto:vinsoncou@gmail.com">vinsoncou@gmail.com</a><br>
        </div>
    </div>

    <br style="clear:both;">
    <hr>

</div>

{{ partial "footer.html" . }}
