{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}

<div id="page" class="content container">

    <div>
        <p>一枚混迹于魔都IT圈的攻城狮，本博客记录日常运维中遇到的问题及解决方法。主要关注：部署、监控、Docker</p>
    </div>
    <hr>
    <div>
        <div>
            Github：<a target="_blank" href="https://github.com/vinsonzou">@vinsonzou</a><br>
            Email：<a target="_blank" href="mailto:vinsoncou@gmail.com">vinsoncou@gmail.com</a><br>
        </div>
    </div>

    <br style="clear:both;">
    <hr>

</div>

{{ partial "footer.html" . }}
